### Soru XXX
Kullanıcının girdiği ad, soyad ve yaş bilgilerini tutan bir dictionary oluşturunuz.
- Kullanıcının ad değerini, büyük harfler ile güncelleyiniz. 
- Kullanıcının yaş değerine 2 ekleyiniz.
- Dictionary'e kullanıcının en sevdiği rengi ekleyiniz key-value şeklinde ekleyiniz.
- Kullanıcının adını ve soyadını kapsayan yeni bir key-value ekleyiniz.
- Kullanıcının ad değerini dictionary'den kaldırınız.

In [1]:
personal_info = {}

personel_name = input("İsminiz: ")
personel_surname = input("Soyadınız: ")
personel_age = input("Yaşınız: ")

personel_info = ({
        'personel_name': personel_name,
        'personel_surname': personel_surname,
        'personel_age':personel_age 
})

personel_info

{'personel_name': 'busra', 'personel_surname': 'eskara', 'personel_age': '23'}

In [2]:
# 1 

personel_info.update({'personel_name':personel_name.upper()})
personel_info

{'personel_name': 'BUSRA', 'personel_surname': 'eskara', 'personel_age': '23'}

In [3]:
# 2

personel_info["personel_age"] = int(personel_age) + 2
personel_info

{'personel_name': 'BUSRA', 'personel_surname': 'eskara', 'personel_age': 25}

In [4]:
# 3

personel_info["personel_color"] = "Pink"
personel_info

{'personel_name': 'BUSRA',
 'personel_surname': 'eskara',
 'personel_age': 25,
 'personel_color': 'Pink'}

In [5]:
# 4

personel_info["personel_nameSurname"] = "Büşra Eşkara"
personel_info

{'personel_name': 'BUSRA',
 'personel_surname': 'eskara',
 'personel_age': 25,
 'personel_color': 'Pink',
 'personel_nameSurname': 'Büşra Eşkara'}

In [6]:
# 5 

del personel_info["personel_name"]
personel_info

{'personel_surname': 'eskara',
 'personel_age': 25,
 'personel_color': 'Pink',
 'personel_nameSurname': 'Büşra Eşkara'}

### Soru XXX
Kullanıcının verdiği aralığa göre, key değerleri o anki sayı, value değerleri o anki sayının karesi olan bir dictionary oluşturunuz.

Örnek olarak, kullanıcı aralık olarak 2 ve 7 girmiş olsun. Bizden beklenen dictionary şu şekilde olmalıdır;

```python
{2: 4, 3: 9, 4: 16, 5: 25, 6:36, 7:49}
```

In [29]:
# 1. Yol

input_min = int(input("Min değerini giriniz"))
input_max = int(input("Max değerini giriniz"))

personel_num = {x: x*x for x in range(input_min, input_max)}

print(personel_num)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [8]:
# 2.Yol

personel_num = {}

for x in range(2, 8):
    personel_num[x] = x * x

personel_num

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

### Soru XXX
Aşağıda verilen liste ile istenilen işlemleri yapınız.
- Yaşı 20'den büyük olanları ekrana yazdırınız.
- Adı 'A' ile başlayanları ekrana yazdırınız.
- Soyadı 'J' ile başlayanları ekrana yazdırınız.
- Adı 'C' ile soyadı 'A' ile başlayanları ekrana yazdırınız.
- Adının içinde 'A' ahrfi geçenleri ekrana yazdırınız.
- Yaşı tek sayı olanları ekrana yazdırınız.
- Kullanının yaşını, (kullanıcının yaşı + kullanıcının soyadının uzunluğu) şeklinde güncelleyiniz.
- Kullanıcının adını ve soyadını içeren FullName adında yeni bir key-value pair oluşturunuz.

In [58]:
myUsers = [
    {
        "Name":"Rosalind",
        "Surname": "Rich",
        "Age": 23
    }
    ,{
        "Name":"Annika",
        "Surname": "Keenan",
        "Age": 28
    }
    ,{
        "Name":"Emillie",
        "Surname": "Plummer",
        "Age": 17
    }
    ,{
        "Name":"Kourtney",
        "Surname": "Pate",
        "Age": 30
    }
    ,{
        "Name":"Virgil",
        "Surname": "Solomon",
        "Age": 40
    }
    ,{
        "Name":"Bobby",
        "Surname": "Jordan",
        "Age":33
    }
    ,{
        "Name":"Alfie",
        "Surname":"James Robson",
        "Age": 16
    } 
    ,{
        "Name":"Isla",
        "Surname":"Grace Tran",
        "Age": 64
    } 
    ,{
        "Name":"Arif",
        "Surname": "Rivas",
        "Age": 43
    }
    ,{
        "Name":"Zakaria",
        "Surname": "Whitehead",
        "Age": 82
    }
    ,{
        "Name":"Casper",
        "Surname": "Velasquez",
        "Age": 57
    }
    ,{
        "Name":"Caoimhe",
        "Surname": "Ali",
        "Age": 34
    }
    ,{
        "Name":"Viola",
        "Surname": "Shepherd",
        "Age": 18
    }
]

myUsers = {}

### Soru XXX
Kullanıcının girdiği string içerisindeki unique karakterleri ekrana yazdırınız.

In [14]:
# 1.Yol

input_char = input()

char = []

for i in input_char:
    if not i in char:
        char.append(i)

print(char)

['s', 'i', 't', 'e', 'r', 'l', 'a', 'b']

In [18]:
# 2.Yol

input_char = input()

char = set(input_char)

print(char)

{'t', 'b', 'i', 'l', 's', 'e', 'r', 'a'}

### Soru XXX
Verilen iki set için aşağıdaki işlemleri yapınız;
- İki set arasındaki farkı ekrana yazdırınız.
- İki set içerisinde ortak olanları ekrana yazdırınız.
- İki seti birleştirip ekrana yazdırınız.
- İlk set içerisinde olmayıp ikinci set içerisinde olan değerleri ekrana yazdırınız.
- İkinci set içerisinde olmayıp ilk set içerisinde olan değerleri ekrana yazdırınız.

```python
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}
```

In [19]:
# 1

set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

set3 = set1 ^ set2 

set3

{2, 3, 4, 6, 7, 8, 9, False, None, True, 'a', 'b', 'e', 'i', 'l', 'r', 't'}

In [20]:
# 2

set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

set3 = set1 & set2

set3

{'s'}

In [21]:
# 3

set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

set3 = set1 | set2
set3

{2,
 3,
 4,
 6,
 7,
 8,
 9,
 False,
 None,
 True,
 'a',
 'b',
 'e',
 'i',
 'l',
 'r',
 's',
 't'}

In [22]:
# 5

set2.difference(set1)

set2

{6, 7, 8, 9, None, 'a', 'b', 'l', 'r', 's'}

In [23]:
# 6 

set1.difference(set2)

set1

{2, 3, 4, False, True, 'e', 'i', 's', 't'}

### Soru XXX
Kullanıcıdan alınan string ifadedeki karakterlerin kaç kere tekrar ettiğini tutan bir dictionary oluşturunuz.

sisterslab için örnek çıktı şu şekilde olmalıdır 

```python
{'s': 3, 'r': 1, 'e': 1, 'l': 1, 'b': 1, 't': 1, 'a': 1, 'i': 1}
```

In [24]:
# 1.Yol

personel_str = "sisterslab"

dic = {}

for i in personel_str:
    dic[i] = dic.get(i, 0) + 1

dic

{'s': 3, 'i': 1, 't': 1, 'e': 1, 'r': 1, 'l': 1, 'a': 1, 'b': 1}

In [25]:
# 2.Yol

from collections import Counter

personel_str = "sisterslab"

Counter(personel_str)

Counter({'s': 3, 'i': 1, 't': 1, 'e': 1, 'r': 1, 'l': 1, 'a': 1, 'b': 1})

In [26]:
# 3.Yol

personel_str = "sisterslab"

count = {}

for i in personel_str:
     count[i] = count.setdefault(i, 0) + 1
     
count

{'s': 3, 'i': 1, 't': 1, 'e': 1, 'r': 1, 'l': 1, 'a': 1, 'b': 1}